.container {
  position: fixed;
  right: 24px;
  top: 120px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  z-index: 1;
}

@media (min-width: 768px) {
  .container {
    right: 1rem;
    gap: 0.75rem;
  }
}

.icon {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .icon {
    gap: 0.5rem;
  }
}

.icon:hover {
  opacity: 0.85;
}
